<!DOCTYPE html>
<html lang="pt-br">
<%- include('../partials/head/index')%>

    <body>
        <%- include('../partials/header/index')%>
            <%- include('../partials/homeSection/index')%>
                <%- include('../partials/productSection/index')%>
                    <%- include('../partials/aboutSection/index')%>
                        <%- include('../partials/arrivalsSection/index')%>
                            <%- include('../partials/contactSection/index')%>
                                <%- include('../partials/footer/index')%>
                                    <%- include('../../../scripts/index')%>
    </body>

</html>